<template>
    <div class="row">
        <!-- Nombre -->
        <div class="col-md-4">
            <label>Nombre</label>
        </div>
        <div class="col-md-8 form-group">
            <input type="text" id="name" :class="errors_name_field != '' ? 'form-control is-invalid' : ' form-control'" name="name" :value="old_name ? old_name : action == 'edit' || action == 'show' ? customer.name : ''" placeholder="Nombre" :disabled="action == 'show' ? 'disabled' : false">
            <small v-if="errors_name_field != ''" style="color:red">{{ errors_name_field }}</small>
        </div>

        <!-- Apellido paterno -->
        <div class="col-md-4">
            <label>Apellido paterno</label>
        </div>
        <div class="col-md-8 form-group">
            <input type="text" id="lastname" :class="errors_lastname_field != '' ? 'form-control is-invalid' : ' form-control'" name="lastname" :value="old_lastname ? old_lastname : action == 'edit' || action == 'show' ? customer.lastname : ''" placeholder="Apellido paterno" :disabled="action == 'show' ? 'disabled' : false">
            <small v-if="errors_lastname_field != ''" style="color:red">{{ errors_lastname_field }}</small>
        </div>

        <!-- Apellido materno -->
        <div class="col-md-4">
            <label>Apellido materno</label>
        </div>
        <div class="col-md-8 form-group">
            <input type="text" id="mothers_lastname" :class="errors_mothers_lastname_field != '' ? 'form-control is-invalid' : ' form-control'" name="mothers_lastname" :value="old_mothers_lastname ? old_mothers_lastname : action == 'edit' || action == 'show' ? customer.mothers_lastname : ''" placeholder="Apellido materno" :disabled="action == 'show' ? 'disabled' : false">
            <small v-if="errors_mothers_lastname_field != ''" style="color:red">{{ errors_mothers_lastname_field }}</small>
        </div>

        <!-- Email -->
        <div class="col-md-4">
            <label>Email</label>
        </div>
        <div class="col-md-8 form-group">
            <input type="text" id="email" :class="errors_email_field != '' ? 'form-control is-invalid' : ' form-control'" name="email" :value="old_email ? old_email : action == 'edit' || action == 'show' ? customer.email : ''" placeholder="Email" :disabled="action == 'show' ? 'disabled' : false">
            <small v-if="errors_email_field != ''" style="color:red">{{ errors_email_field }}</small>
        </div>

        <!-- Phone -->
        <div class="col-md-4">
            <label>Teléphone</label>
        </div>
        <div class="col-md-8 form-group">
            <input type="text" id="phone" :class="errors_phone_field != '' ? 'form-control is-invalid' : ' form-control'" name="phone" :value="old_phone ? old_phone : action == 'edit' || action == 'show' ? customer.phone : ''" placeholder="Teléfono" :disabled="action == 'show' ? 'disabled' : false">
            <small v-if="errors_phone_field != ''" style="color:red">{{ errors_phone_field }}</small>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'errors_name_field',
            'errors_lastname_field',
            'errors_mothers_lastname_field',
            'errors_email_field',
            'errors_phone_field',
            'old_name',
            'old_lastname',
            'old_mothers_lastname',
            'old_email',
            'old_phone',
            'action',
            'customer'
        ]
    }
</script>
