<template>
    <div class="row">
        <div v-if="action != 'show'" class="d-flex flex-row-reverse mb-3" >
            <div class="justify-content-end">
                <button type="button" class="btn btn-outline-secondary" @click="add"> + Agregar</button>
            </div>
        </div>

        <table :class="action != 'show' ? 'table table-borderless' : 'table table-bordered'">
            <thead>
                <tr>
                    <th>Calle</th>
                    <th>Numero ext</th>
                    <th>Numero int</th>
                    <th>Colonia</th>
                    <th>Estado</th>
                    <th>País</th>
                    <th v-if="action != 'show'"></th>
                </tr>
            </thead>
            <tbody>
                <direccion-row v-for="item in addresses" :key="item.index" :item="item" @quit="quit" :action="action"></direccion-row>
            </tbody>
        </table>
    </div>
</template>

<script>
    import DireccionRow from './partials/DireccionRow.vue';

    export default {
        components: { DireccionRow },
        props: ['old', 'action', 'customer_addresses'],
        data: function () {
            return {
                count: 0,
                addresses: []
            }
        },
        mounted()
        {
            if (this.old != null)
            {
                for (var key in this.old)
                {
                    this.add_new_address(
                        this.old[key].street,
                        this.old[key].num_ext,
                        this.old[key].num_int,
                        this.old[key].colony,
                        this.old[key].state,
                        this.old[key].country,
                        this.old[key].id,
                    );
                }
            }
            else
            {
                if (this.action == 'create')
                {
                    this.add_new_address();
                }
                else
                {
                    this.customer_addresses.forEach(element => {
                        this.add_new_address(
                            element.street,
                            element.num_ext,
                            element.num_int,
                            element.colony,
                            element.state,
                            element.country,
                            element.id,
                        );
                    });
                }
            }
        },
        methods: {
            add() {
                this.add_new_address();
            },
            quit(index) {
                var row = this.addresses.findIndex(el => el.index ==index);
                this.addresses.splice(row, 1);
            },
            add_new_address(street = null, num_ext = null, num_int = null, colony = null, state = null, country = null, id = null)
            {
                var new_address = {
                    index: this.count++,
                    street: street,
                    num_ext: num_ext,
                    num_int: num_int,
                    colony: colony,
                    state: state,
                    country: country,
                    id: id
                };

                this.addresses.push(new_address);
            }
        }
    }
</script>
