<template>
    <tr>
        <td>
            <input v-if="action != 'show'" type="text" style="display: none" :name="'address['+item.index+'][id]'" :value="item.id">
            <input v-if="action != 'show'" type="text" class="form-control" :name="'address['+item.index+'][street]'" :value="item.street">
            <span v-if="action == 'show'">{{ item.street }}</span>
        </td>
        <td>
            <input v-if="action != 'show'" type="text" class="form-control" :name="'address['+item.index+'][num_ext]'" :value="item.num_ext">
            <span v-if="action == 'show'">{{ item.num_ext }}</span>
        </td>
        <td>
            <input v-if="action != 'show'" type="text" class="form-control" :name="'address['+item.index+'][num_int]'" :value="item.num_int">
            <span v-if="action == 'show'">{{ item.num_int }}</span>
        </td>
        <td>
            <input v-if="action != 'show'" type="text" class="form-control" :name="'address['+item.index+'][colony]'" :value="item.colony">
            <span v-if="action == 'show'">{{ item.colony }}</span>
        </td>
        <td>
            <input v-if="action != 'show'" type="text" class="form-control" :name="'address['+item.index+'][state]'" :value="item.state">
            <span v-if="action == 'show'">{{ item.state }}</span>
        </td>
        <td>
            <input v-if="action != 'show'" type="text" class="form-control" :name="'address['+item.index+'][country]'" :value="item.country">
            <span v-if="action == 'show'">{{ item.country }}</span>
        </td>
        <td v-if="action != 'show'">
            <button type="button" class="btn btn-sm btn-danger" @click="quit">Quitar</button>
        </td>
    </tr>
</template>

<script>
    export default {
        props: ['item', 'action'],
        mounted(){

        },
        methods: {
            quit() {
                this.$emit('quit', this.item.index);
            }
        }
    }
</script>
